/* Define a fonte da família, o layout flexbox e o alinhamento dos itens para o corpo da página */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000000;
}

/* Define a cor de fundo, a largura e a altura do contêiner principal */
#container {
  background-color: white;
  width: 600px;
  height: 800px;
  position: relative;
}

/* Define o posicionamento, a cor de fundo e o padding do menu */
#menu {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #555;
  padding: 10px 0;
}

/* Remove o sublinhado dos links do menu */
#menu li a {
  text-decoration: none;
}

/* Define a cor do texto, a cor de fundo, o padding e o raio da borda dos botões do menu */
#menu li a {
  color: #fff;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* Define a nova cor de fundo dos botões do menu quando o mouse passar sobre eles */
#menu li a:hover {
  background-color: #000000;
}

/* Define a margem superior da seção de conteúdo */
#conteudo {
  margin-top: 90px;
}

/* Define a largura e o estilo das bordas dos inputs e textareas */
input, textarea {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

/* Define o estilo de foco dos inputs e textareas */
input:focus, textarea:focus {
  border-color: #000;
  outline: none;
}

/* Define a cor de fundo, a cor do texto, o estilo da borda e o raio da borda do botão de envio */
button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* Define a nova cor de fundo do botão de envio quando o mouse passar sobre ele */
button:hover {
  background-color: #333;
}

/* Define o alinhamento da seção de contato */
#contato {
  margin-left: 30px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Alinha o título "Contato" à esquerda */
.section {
  text-align: left;
}

/* Alinha o botão "Enviar" à esquerda */
button-wrapper {
  align-self: flex-start;
}
