body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: flex; /* Usa um layout flexível para centralizar o conteúdo verticalmente e horizontalmente */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* Define a altura da janela de visualização */
  margin: 0; /* Remove margens padrão */
  background-color: #000000; /* Cor de fundo preta */
}

#container {
  background-color: white; /* Cor de fundo branca */
  width: 600px; /* Largura do contêiner principal */
  height: 800px; /* Altura do contêiner principal */
  position: relative; /* Define a posição como relativa para que elementos internos se comportem em relação a ele */
}

#menu {
  text-align: center; /* Centraliza o conteúdo do menu horizontalmente */
  position: absolute; /* Define a posição como absoluta para que o menu fique no topo da div #container */
  top: 0; /* Alinha o menu no topo da div #container */
  left: 0; /* Alinha o menu à esquerda da div #container */
  width: 100%; /* Faz o menu ocupar toda a largura da div #container */
  background-color: #555; /* Cor de fundo do menu */
  padding: 10px 0; /* Espaçamento interno no topo e na parte inferior do menu */
}

#menu ul {
  list-style: none; /* Remove os marcadores de lista padrão */
  padding: 0; /* Remove o preenchimento padrão da lista */
}

#menu li {
  display: inline; /* Faz os itens da lista (li) serem exibidos em linha (horizontalmente) */
  margin: 0 10px; /* Adiciona margem à esquerda e à direita para espaçamento entre os itens do menu */
}

#menu li a {
  text-decoration: none; /* Remove o sublinhado dos links */
  color: #fff; /* Cor do texto para links branco */
  background-color: #333; /* Cor de fundo dos botões no menu */
  padding: 10px 20px; /* Espaçamento interno dos botões no menu */
  border-radius: 5px; /* Adiciona borda arredondada aos botões no menu */
  transition: background-color 0.3s; /* Adiciona uma transição suave para a cor de fundo dos botões no menu */
}

#menu li a:hover {
  background-color: #000000; /* Muda a cor de fundo dos botões no menu ao passar o mouse */
}

#conteudo {
  margin-top: 90px; /* Define uma margem superior de 90px para o elemento com ID 'conteudo' */
  margin-left: 30px; /* Define uma margem esquerda de 30px */
  margin-right: 30px; /* Define uma margem direita de 30px */
}

input, textarea {
  width: 500px; /* Define a largura dos campos de entrada de texto (input e textarea) como 500px */
  border: 1px solid #ccc; /* Adiciona uma borda de 1px sólida com a cor #ccc */
  border-radius: 4px; /* Adiciona uma borda arredondada de 4px aos campos de entrada */
  padding: 10px; /* Adiciona espaçamento interno de 10px aos campos de entrada */
  font-size: 16px; /* Define o tamanho da fonte como 16px */
  margin-bottom: 10px; /* Adiciona uma margem inferior de 10px para espaçamento entre os campos */
}

input:focus, textarea:focus {
  border-color: #000; /* Muda a cor da borda para preto quando os campos estão em foco (clicados) */
  outline: none; /* Remove a borda de destaque padrão quando os campos estão em foco */
}

button {
  background-color: #000; /* Define a cor de fundo do botão como preto */
  color: #fff; /* Define a cor do texto do botão como branco */
  border: none; /* Remove a borda do botão */
  border-radius: 4px; /* Adiciona uma borda arredondada de 4px ao botão */
  padding: 10px; /* Adiciona espaçamento interno de 10px ao botão */
  font-size: 16px; /* Define o tamanho da fonte como 16px */
  cursor: pointer; /* Altera o cursor para a forma de mão ao pairar sobre o botão */
}

button:hover {
  background-color: #333; /* Muda a cor de fundo do botão para um tom mais escuro quando o mouse paira sobre ele */
}

#contato {
  margin-left: 30px; /* Define uma margem esquerda de 30px para o elemento com ID 'contato' */
  margin-top: 70px; /* Define uma margem superior de 70px */
  display: flex; /* Aplica um layout flexível ao elemento 'contato' */
  flex-direction: column; /* Define a direção da flexbox como coluna (empilha os elementos verticalmente) */
  text-align: center; /* Centraliza o texto horizontalmente dentro do elemento 'contato' */
}

.section {
  text-align: left; /* Alinha o texto no interior de elementos com a classe 'section' à esquerda */
}

.input-wrapper {
  display: flex; /* Aplica um layout flexível ao elemento com a classe 'input-wrapper' */
  flex-direction: column; /* Empilha os elementos filhos verticalmente */
  align-self: flex-start; /* Alinha o elemento 'input-wrapper' à esquerda dentro do layout flexível */
  margin-bottom: 10px; /* Adiciona uma margem inferior de 10px para espaçamento entre os elementos 'input-wrapper' */
  width: 100%; /* Define a largura como 100% (largura total disponível) */
  max-width: 300px; /* Define a largura máxima como 300px */
}

button-wrapper {
  align-self: flex-start; /* Alinha o elemento 'button-wrapper' à esquerda dentro do layout flexível */
}

input, textarea {
  width: 100%; /* Define a largura dos elementos input e textarea como 100% do espaço disponível */
  border: 1px solid #ccc; /* Adiciona uma borda sólida de 1px com a cor #ccc ao redor dos campos de entrada */
  border-radius: 4px; /* Aplica um raio de borda de 4px para arredondar as bordas dos campos */
  padding: 10px; /* Adiciona um espaçamento interno de 10px dentro dos elementos input e textarea */
  font-size: 16px; /* Define o tamanho da fonte como 16px */
}

button {
  background-color: #000; /* Define a cor de fundo do botão como preto (#000) */
  color: #fff; /* Define a cor do texto do botão como branco (#fff) */
  border: none; /* Remove a borda do botão */
  border-radius: 4px; /* Aplica um raio de borda de 4px para arredondar as bordas do botão */
  padding: 10px; /* Adiciona um espaçamento interno de 10px dentro do botão */
  font-size: 16px; /* Define o tamanho da fonte como 16px */
  cursor: pointer; /* Altera o cursor para a forma de mão ao pairar sobre o botão, indicando que é clicável */
}

